.Rproj.user
inst/doc
.Rhistory
.Rdata
.httr-oauth
.DS_Store
/inst/calmr_app/rsconnect/
/doc/
/Meta/
-Victor’s MacBook Air.Rhistory
calmr-Victor's MacBook Air.Rproj
calmr.Rproj
/sketches/
/article/
sketch.R
docs
revdep/
.vscode/
