.Rproj.user
inst/doc
.Rhistory
.Rdata
.httr-oauth
.DS_Store
/inst/heidi_app/rsconnect/
/inst/heidi_app/heidi_app_deployment.R
/doc/
/Meta/
-Victor’s MacBook Air.Rhistory
heidi-Victor's MacBook Air.Rproj
heidi.Rproj
heidi-Victor’s MacBook Air.Rproj
